version: '3.8'

services:
  mariadb:
    image: mariadb
    container_name: ecc-db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: rootpass
      MARIADB_DATABASE: ecc
      MARIADB_USER: user
      MARIADB_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - springboot-net

volumes:
  mariadb_data:

networks:
  springboot-net:
    driver: bridge
