spring:
  profiles:
    active: private

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: info  # 전체 애플리케이션 로그 레벨
    org.hibernate.SQL: warn
    org.hibernate.type.descriptor.sql.BasicBinder: off
